<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app">
        <section id="event-learning">
            <button v-on:click="counter++">add +1</button><br/><br/>
            <button v-on:click="counter =counter -1">sub -1</button><br/>
            <p>{{ counter }}</p>
        </section>
        <div>
            {{ getRandomNumber() }}
            <p v-html="htmlcontent"></p>
        </div>
        <div>
            <label for="goal">Goal</label>
            <input type="text" id="goal" v-model="enteredValue"/>
            <button v-on:click="addGoal">Add Goal</button>
        </div>
        <ul>
            <li v-for="goal in goals">{{goal}}</li>
        </ul>
        <a href="{{homePageLnk}}">Interpolation</a><br/><br/>
        <a v-bind:href="homePageLnk">Vue Binidng</a>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>